<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form method="POST">
        <label>Username:</label>
        <input type="text" name="username" placeholder="Username" required><br><br>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Password" required><br><br>

        {% if user_count != 0 %}
        <label>Role:</label>
        <select name="role" required>
            <option value="Staff">Staff</option>
            <option value="Manager">Manager</option>
        </select><br><br>
        {% endif %}

        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>